.container {
    width: 80%;
    margin-top: 3rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: -1px 10px 20px 0px rgba(114, 113, 113, 0.62);
}


th {
    background-color:   #d0b8fc !important;
    color: rgb(80, 78, 78) !important;
    text-align: center;
}

tr,
td {
    text-align: center;
}
  
tr:nth-child(odd) {
    background-color: #f2f0f0;
}

img {
    width: 20px;
    height: 20px;
}

