.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ttl {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: #8602e3;
    font-weight: 500;
    font-style:italic;
    border-bottom: 1px solid #ccc;
    width: 50%;
    margin: 0 auto;
}

.card {
    box-shadow: -1px 10px 20px 0px #78c5f2a6;
}