<div class="container">
  <br>
  <br>
 <ng-container>
  <div class="ttl">Valoraciones</div>
  <br>
  <br>
  <ng-container *ngFor="let clase of clasesArr">
    <mat-card class="card" *ngIf="clase[2]!==null">
      <mat-card-content class="matContainer">
        <div class="cardContainer">
        <span>Asignatura:</span>
        <div>{{ clase[0] }}</div>
        </div>
        <div class="cardContainer">
        <span>Profesor:</span>
        <div>{{ clase[1] }}</div>
        </div>
       <div class="cardContainer">
        <span>Comentario:</span>
        <div class="opinion">{{ clase[2] }}</div>
       </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
 </ng-container>
</div>
