<div class="container">
  <!-- Lista de Cards con las valoraciones -->
  <h2>Mis Valoraciones</h2>
  <hr />
  <div class="row">
    <div class="col-12">
      <a href="#" class="card-link">
        <div class="card mb-3" style="width: 100%">
          <div class="row no-gutters">
            <div class="col-md-2">
              <img
                src="../../../assets/FotoPerfilEjemplo.jpg"
                alt="Foto del profesor"
                class="card-img"
                style="width: 200px; height: 200px"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Nombre ejemplo</h5>
                <p class="card-text">Matematicas</p>
                <p class="card-text">
                  El profesor demostró un profundo conocimiento del tema y una
                  excelente capacidad para transmitirlo de manera clara y
                  comprensible. Sus explicaciones fueron muy detalladas y su
                  pasión por la materia se reflejaba en cada clase.
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12">
      <a href="#" class="card-link">
        <div class="card mb-3" style="width: 100%">
          <div class="row no-gutters">
            <div class="col-md-2">
              <img
                src="../../../assets/FotoPerfilEjemplo.jpg"
                alt="Foto del profesor"
                class="card-img"
                style="width: 200px; height: 200px"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Nombre ejemplo</h5>
                <p class="card-text">Matematicas</p>
                <p class="card-text">
                  El profesor demostró un profundo conocimiento del tema y una
                  excelente capacidad para transmitirlo de manera clara y
                  comprensible. Sus explicaciones fueron muy detalladas y su
                  pasión por la materia se reflejaba en cada clase.
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <!-- Boton redireccón a Mis Alumnos -->
  <div class="container d-flex justify-content-center align-items-center">
    <a class="btn btn-primary fs-4" [routerLink]="['../misAlumnos']"
      >Mis Alumnos</a
    >
  </div>
</div>

<!-- 
  <div class="container">
    <div class="row">
      <div class="col-lg-4" *ngFor="let valoracion of valoraciones">
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{ valoracion.imagen }}" class="card-img" alt="Imagen de perfil">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ valoracion.nombre }}</h5>
                <p class="card-text">{{ valoracion.asignatura }}</p>
                <p class="card-text">Valoración: {{ valoracion.valoracion }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
