<section class="h-100 mt-2 mb-4">
  <div class="container h-100">
    <!-- Lista de Cards con las valoraciones -->
    <h2>Mis Valoraciones</h2>
    <hr />
    <div class="row" *ngFor="let alumno of alumArr">
      <div class="col-12" *ngFor="let asignatura of alumno.asignaturas">
        <a href="#" class="card-link">
          <div class="card mb-3" style="width: 100%">
            <div class="row no-gutters">
              <div class="col-md-2">
                <img src="{{alumno.imagen}}" alt="Foto del profesor" class="card-img"
                  style="width: 200px; height: 200px" />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{alumno.nombre}}</h5>
                  <p class="card-text">{{asignatura.nombre}}</p>
                  <p class="card-text">
                    El profesor demostró un profundo conocimiento del tema y una
                    excelente capacidad para transmitirlo de manera clara y
                    comprensible. Sus explicaciones fueron muy detalladas y su
                    pasión por la materia se reflejaba en cada clase.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- Boton redireccón a Mis Alumnos -->
    </div>
    <div class="container d-flex justify-content-center align-items-center">
      <a class="btn btn-primary fs-4" [routerLink]="['../misAlumnos']">Mis Alumnos</a>
    </div>
  </div>
</section>