<section class="h-100 mt-2 mb-4">
  <div class="container">
    <div class="table-responsive">
      <table class="table">
        <caption class="table-caption">{{ isProfesoresUrl() ? 'PROFESORES' : 'ALUMNOS' }}</caption>
        <thead>
          <tr>
            <th class="text-center">Nombre</th>
            <th class="text-center">Apellidos</th>
            <th class="text-center">Email</th>
            <th class="text-center">Teléfono</th>
            <th class="text-center">Dirección</th>
            <th class="text-center">Ciudad</th>
            <th class="text-center">Edad</th>
            <th class="text-center">DNI</th>
            <th class="text-center">Fecha Alta</th>
            <th class="text-center" *ngIf="isProfesoresUrl()">Validado</th>
            <th class="text-center">Acciones</th>
            <th class="text-center"> </th>
          </tr>
        </thead>
        <tbody *ngIf="isProfesoresUrl(); else alumnosContent">
          <tr class="TrDatos" *ngFor="let profe of profesArr">
            <td class="text-center">{{profe.nombre}}</td>
            <td class="text-center">{{profe.apellidos}}</td>
            <td class="text-center">{{profe.email}}</td>
            <td class="text-center">{{profe.telefono}}</td>
            <td class="text-center">{{profe.direccion}}</td>
            <td class="text-center">{{profe.ciudad}}</td>
            <td class="text-center">{{profe.edad}}</td>
            <td class="text-center">{{profe.dni}}</td>
            <td class="text-center">{{profe.fecha_alta | date: 'dd-MM-yyyy'}}</td>
            <td class="text-center">
              <span [ngClass]="{'verificado': profe.validado, 'no-verificado': !profe.validado}">
                {{ profe.validado ? 'Verificado' : 'No verificado' }}
              </span>
            </td>
            <td>
              <button class="btn btn-purple" (click)="validate(profe.id)">Validar</button>
            </td>
            <td>
              <a class="nav-link pe-auto" role="button" title="Eliminar" (click)="borrarUsuario(profe.id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                  viewBox="0 0 16 16">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                  <path
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                </svg>
              </a>
            </td>
          </tr>
        </tbody>
        <ng-template #alumnosContent>
          <tbody>
            <tr class="TrDatos tr-full-width" *ngFor="let alumno of alumnosArr">
              <td class="text-center">{{alumno.nombre}}</td>
              <td class="text-center">{{alumno.apellidos}}</td>
              <td class="text-center">{{alumno.email}}</td>
              <td class="text-center">{{alumno.telefono}}</td>
              <td class="text-center">{{alumno.direccion}}</td>
              <td class="text-center">{{alumno.ciudad}}</td>
              <td class="text-center">{{alumno.edad}}</td>
              <td class="text-center">{{alumno.dni}}</td>
              <td class="text-center">{{alumno.fecha_alta | date: 'dd-MM-yyyy'}}</td>
              <td class="text-center">
                <a class="nav-link pe-auto" role="button" title="Eliminar" (click)="borrarUsuario(alumno.id)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                    viewBox="0 0 16 16">
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                    <path
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                  </svg>
                </a>
              </td>
              <td class="text-center"> </td> <!-- Sirve para igualar la longitud del tr de los datos de alumno -->
            </tr>
          </tbody>
        </ng-template>
      </table>
    </div>

    <!-- LISTADO DE PROFESORES -->

    <!-- <div class="container">
        <div class="table-responsive">
          <table class="table">
            <caption class="table-caption">PROFESORES</caption>
            <thead>
              <tr>
                <th class="text-center">Nombre</th>
                <th class="text-center">Apellidos</th>
                <th class="text-center">Email</th>
                <th class="text-center">Teléfono</th>
                <th class="text-center">Dirección</th>
                <th class="text-center">Ciudad</th>
                <th class="text-center">Edad</th>
                <th class="text-center">DNI</th>
                <th class="text-center">Fecha Alta</th>
                <th class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Pedro</td>
                <td class="text-center">Díaz</td>
                <td class="text-center">pedro@correo.com</td>
                <td class="text-center">000000000</td>
                <td class="text-center">C/Mentira 123</td>
                <td class="text-center">Madrid</td>
                <td class="text-center">40</td>
                <td class="text-center">78656233-Z</td>
                <td class="text-center">2022-01-01</td>
                <td>
                  <button class="btn btn-purple">Dar de baja</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  </div> -->