.w-teacher-header {
  border: 1px solid black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.w-teacher {
  border: 1px solid #cecece;
}

.left-div {
  float: left;
  width: 50%;
  /* Ajusta el ancho según tus necesidades */
}

.right-div {
  float: left;
  width: 50%;
  /* Ajusta el ancho según tus necesidades */
}

h1 {
  font-size: 4rem;
  color: #ba94ec;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: color 0.3s;
  margin-bottom: 20px;
}

h1:hover {
  color: #7500c0;
}

.btn {
  background-color: #ba94ec;
  border: none;
  font-weight: 650;
}

.btn:hover {
  background-color: #7500c0;
}

.hr {
  border: none;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 50px;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  background-color: #ba94ec;
}

.first-row {
  background-color: #7941C0;
  color: #fff; /* Cambia el color del texto si es necesario para que sea legible */
}
