<div class="card container d-flex justify-content-center align-items-center d-flex" style="width: 18rem;">
    <div class="card-body ">
      <h5 class="card-title">Inicia sesión</h5>
      <label for="user">Usuario </label><input type="text" id="user">
      <label for="pass">Contraseña </label><input type="password" id="pass">
      <button type="button" class="mt-4 btn btn-info fs-3 container d-flex justify-content-center align-items-center">Entrar</button><hr>
      <p class="card-text">Si no tienes cuenta haz click <a href="">aquí</a>.</p>
    </div>
  </div>