<!-- INFO HOME -->

<div class="container mb-3">
  <h1 class="text-center fw-bold">Nos adaptamos a tu forma de aprender</h1>
  <hr />
  <div class="container row text-center grid gap d-flex">
    <div class="card col-sm-7 col-md-5 mx-auto p-2 shadow bg-body-tertiary rounded">
      <img src="../../../assets/profesor_en_clase.jpg" class="card-img-top" alt="Imagen profesora en clase" />
      <div class="card-body">
        <h5 class="card-title fs-3">Clases presenciales</h5>
        <p class="card-text">
          Clases en tu domicilio o el de tu profesor/a, en tu lugar de
          trabajo, en una academia...
        </p>
        <div class="mt-3">
          <a class="btn btn-primary fs-4" [routerLink]="['/login']">Entrar</a>
        </div>
      </div>
    </div>
    <div class="card col-sm-7 col-md-5 mx-auto p-2 shadow bg-body-tertiary rounded">
      <img src="../../../assets/laptop.jpg" class="card-img-top" alt="Imagen persona trabajando en un ordenador" />
      <div class="card-body">
        <h5 class="card-title fs-3">Clases online</h5>
        <p class="card-text">
          Mediante videoconferencia con un profesor/a online, a cualquier hora
          y sin salir de casa
        </p>
        <div class="mt-3">
          <a class="btn btn-primary fs-4" [routerLink]="['/login']">Entrar</a>
        </div>
      </div>
    </div>
  </div>
</div>


<h2 class="container text-center mt-5 mb-5">Nuestros profesores</h2>

<!-- FILTRO BUSQUEDA -->

<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="mb-2 d-flex justify-content-center">
        <p class="encuentraP">Encuentra tu profesor/a ideal:</p>
      </div>
      <div class="d-flex justify-content-center">
        <div class="w-ciudad" style="margin-right: 25px;">
          <p class="m-0 p-0">Ciudad:</p>
          <select class="ciudad mb-2 shadow-sm" id="ciudad" *ngIf="filtradoAsignatura === false">
            <option [value]="ciudad" *ngFor="let ciudad of ciudadesArr" (click)="filtrarCiudad(ciudad)">
              {{ciudad}}</option>
          </select>
          <select class="ciudad mb-2 shadow-sm" id="ciudad" *ngIf="filtradoAsignatura === true">
            <option value="ciudad" disabled>
              Todas</option>
          </select>
        </div>
        <div class="w-asignatura" style="margin-right: 25px;">
          <p class="m-0 p-0">Asignaturas:</p>
          <select class="ciudad mb-2 shadow-sm" id="asignatura" *ngIf="filtradoCiudad === false">
            <option [value]="asignatura.nombre" *ngFor="let asignatura of asignaturasArr"
              (click)="filtrarAsignatura(asignatura.asignatura_id)">
              {{asignatura.nombre}}</option>
          </select>
          <select class="ciudad mb-2 shadow-sm" id="asignatura" *ngIf="filtradoCiudad === true">
            <option value="asignatura" disabled>
              Todas</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- VALORACIONES PROFESORES -->

<div class="container" *ngIf="filtrado === false">
  <div class="container" *ngFor="let item of combinedArr">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <a class="EnlaceCardProf" [routerLink]="['/login']">
          <div class="card shadow" style="height: 100%;">
            <div class="row g-0">
              <div class="col-md-4 col-sm-4 d-flex align-items-center justify-content-center" style="padding: 10px;">
                <img src={{item.par.imagen}} alt="Foto del profesor" class="card-img img-fluid">
              </div>
              <div class="col-md-8 col-sm-8">
                <div class="card-body">
                  <h5 class="card-title CardProfNombre">{{item.par.nombre}} {{item.par.apellidos}}</h5>
                  <p class="card-text">{{item.par.ciudad}}</p>
                  <p class="card-text">Experiencia: {{item.par.experiencia}} años</p>
                  <p class="card-text">Asignaturas:</p>
                  <ul class="card-list">
                    <li *ngFor="let asginatura of item.par.asignaturas">{{asginatura.nombre}}</li>
                  </ul>
                  <p class="card-text" *ngIf="item.par.puntuacion === 'No valorado'">Puntuación: Sin puntuaciones.</p>
                  <p class="card-text" *ngIf="item.par.puntuacion != 'No valorado'">Puntuación: {{item.par.puntuacion |
                    number:'01.0-2'}}/10</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="card opinion-card" style="height: 100%;">
          <div class="card-body d-flex align-items-center justify-content-center">
            <p class="card-text">"{{item.par.opinion}}"</p>
          </div>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center">
      <div>
        <img class="rounded-circle" src="../../../assets/logo_copia.jpg" alt="" style="width: 12mm; margin: 50px 0;">
      </div>
    </div>
    <div class="row" *ngIf="item.impar != undefined">
      <div class="col-md-6 col-sm-12">
        <div class="card opinion-card" style="height: 100%;">
          <div class="card-body d-flex align-items-center justify-content-center">
            <p class="card-text">"{{item.impar.opinion}}"</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <a class="EnlaceCardProf" [routerLink]="['/login']">
          <div class="card shadow" style="height: 100%;">
            <div class="row g-0">
              <div class="col-md-4 col-sm-4 d-flex align-items-center justify-content-center" style="padding: 10px;">
                <img src={{item.impar.imagen}} alt="Foto del profesor" class="card-img img-fluid">
              </div>
              <div class="col-md-8 col-sm-8">
                <div class="card-body">
                  <h5 class="card-title CardProfNombre">{{item.impar?.nombre}} {{item.impar?.apellidos}}</h5>
                  <p class="card-text">{{item.impar.ciudad}}</p>
                  <p class="card-text">Experiencia: {{item.impar?.experiencia}} años</p>
                  <p class="card-text">Asignaturas:</p>
                  <ul class="card-list">
                    <li *ngFor="let asginatura of item.impar?.asignaturas">{{asginatura.nombre}}</li>
                  </ul>
                  <p class="card-text" *ngIf="item.impar.puntuacion === 'No valorado'">Puntuación: Sin puntuaciones.</p>
                  <p class="card-text" *ngIf="item.impar.puntuacion != 'No valorado'">Puntuación:
                    {{item.impar.puntuacion | number:'01.0-2'}}/10</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div style="display: flex; justify-content: center; align-items: center">
        <div>
          <img class="rounded-circle" src="../../../assets/logo_copia.jpg" alt="" style="width: 12mm; margin: 50px 0;">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="filtrado === true">
  <div class="container" *ngFor="let item of filtradoArr">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <a class="EnlaceCardProf" [routerLink]="['/login']">
          <div class="card shadow" style="height: 100%;">
            <div class="row g-0">
              <div class="col-md-4 col-sm-4 d-flex align-items-center justify-content-center" style="padding: 10px;">
                <img src={{item.par.imagen}} alt="Foto del profesor" class="card-img img-fluid">
              </div>
              <div class="col-md-8 col-sm-8">
                <div class="card-body">
                  <h5 class="card-title CardProfNombre">{{item.par.nombre}} {{item.par.apellidos}}</h5>
                  <p class="card-text">{{item.par.ciudad}}</p>
                  <p class="card-text">Experiencia: {{item.par.experiencia}} años</p>
                  <p class="card-text">Asignaturas:</p>
                  <ul class="card-list">
                    <li *ngFor="let asginatura of item.par.asignaturas">{{asginatura.nombre}}</li>
                  </ul>
                  <p class="card-text" *ngIf="item.par.puntuacion === 'No valorado'">Puntuación: Sin puntuaciones.</p>
                  <p class="card-text" *ngIf="item.par.puntuacion != 'No valorado'">Puntuación: {{item.par.puntuacion |
                    number:'01.0-2'}}/10</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="card opinion-card" style="height: 100%;">
          <div class="card-body d-flex align-items-center justify-content-center">
            <p class="card-text">"{{item.par.opinion}}"</p>
          </div>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center">
      <div>
        <img class="rounded-circle" src="../../../assets/logo_copia.jpg" alt="" style="width: 12mm; margin: 50px 0;">
      </div>
    </div>
    <div class="row" *ngIf="item.impar != undefined">
      <div class="col-md-6 col-sm-12">
        <div class="card opinion-card" style="height: 100%;">
          <div class="card-body d-flex align-items-center justify-content-center">
            <p class="card-text">"{{item.impar.opinion}}"</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <a class="EnlaceCardProf" [routerLink]="['/login']">
          <div class="card shadow" style="height: 100%;">
            <div class="row g-0">
              <div class="col-md-4 col-sm-4 d-flex align-items-center justify-content-center" style="padding: 10px;">
                <img src={{item.impar.imagen}} alt="Foto del profesor" class="card-img img-fluid">
              </div>
              <div class="col-md-8 col-sm-8">
                <div class="card-body">
                  <h5 class="card-title CardProfNombre">{{item.impar?.nombre}} {{item.impar?.apellidos}}</h5>
                  <p class="card-text">{{item.impar?.ciudad}}</p>
                  <p class="card-text">Experiencia: {{item.impar?.experiencia}} años</p>
                  <ul class="card-list">
                    <li *ngFor="let asginatura of item.impar?.asignaturas">{{asginatura.nombre}}</li>
                  </ul>
                  <p class="card-text" *ngIf="item.impar.puntuacion === 'No valorado'">Puntuación: Sin puntuaciones.</p>
                  <p class="card-text" *ngIf="item.impar.puntuacion != 'No valorado'">Puntuación:
                    {{item.impar.puntuacion | number:'01.0-2'}}/10</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div style="display: flex; justify-content: center; align-items: center">
        <div>
          <img class="rounded-circle" src="../../../assets/logo_copia.jpg" alt="" style="width: 12mm; margin: 50px 0;">
        </div>
      </div>
    </div>
  </div>
</div>