.w-teacher-header {
    border: 1px solid black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.w-teacher {
    border: 1px solid #cecece;
}

.left-div {
    float: left;
    width: 50%; /* Ajusta el ancho según tus necesidades */
  }
  
.right-div {
    float: left;
    width: 50%; /* Ajusta el ancho según tus necesidades */
  }

card-img-top {
    size: 30%;
}