<table class="container" >
  <thead>
    <tr *ngIf="myUser.rol === 'alum'">
      <th>Asignatura</th>
      <th>Profesor</th>
      <th>Estado</th>
    </tr>
    <tr *ngIf="myUser.rol === 'profe'">
      <th>Asignatura</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody *ngIf="myUser.rol === 'alum'">
    <tr *ngFor="let clase of clasesArr">
      <td class="text-center">{{clase.asignatura_nombre}}</td>
      <td class="text-center">{{clase.profesor}}</td>
      <td class="text-center" >{{clase.estado_asignatura}}</td>
    </tr>
  </tbody>
  <tbody *ngIf="myUser.rol === 'profe'">
    <tr *ngFor="let clase of clasesArr">
      <td class="text-center">{{clase.asignatura_nombre}}</td>
      <td class="text-center">{{clase.estado_asignatura}}</td>
    </tr>
  </tbody>
</table>



