header {
    background-color: #7941c0;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.logo {
    width: 80px;
    height: 80px;
    font-family: 'Pinyon Script', cursive;
    font-size: 3rem;
}

footer {
    background-color: lightgrey;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.content {
    flex: 1 0 auto;
  }