<body>
  <header class="container-fluid border-bottom shadow-sm mb-5 bg-body-tertiary">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-6 col-md-5 d-flex align-items-center">
          <a [routerLink]="['/home']" class="text-decoration-none">
            <img src="../assets/logo_copia.png" alt="Logo de la empresa TeacherApp" class="logo">
          </a>
          <h1 class="m-0 ml-md-auto"><a [routerLink]="['/home']" class="text-decoration-none logo">TeacherApp</a></h1>
        </div>
        <div class="col-6 col-md-7 d-flex justify-content-end">
          <app-menu class="d-flex justify-content-end"></app-menu>
        </div>
      </div>
    </div>
  </header>

  <router-outlet></router-outlet>

  <footer class="container-fluid border-top shadow-sm bg-body-tertiary py-0.5 mt-auto">
    <p class="m-0 text-center">&copy; 2023</p>
  </footer>
</body>