<header class="container border-bottom shadow-sm mb-5 bg-body-tertiary justify-content-between">
    <div class="container row d-flex align-items-center justify-content-between">
        <div class="col-7 d-flex align-items-center">
            <a [routerLink]="['/home']" class="text-decoration-none">
                <img src="../assets/logo_copia.png" alt="Logo de la empresa TeacherApp" class="logo">
            </a>
            <h1 class="m-0"><a [routerLink]="['/home']" class="text-decoration-none logo"> TeacherApp</a></h1>
        </div>
        <div class="col-5 d-flex justify-content-end">
            <app-menu class="d-flex justify-content-end row"></app-menu>
        </div>
    </div>
</header>
<router-outlet></router-outlet>