<ul class="nav d-flex align-items-center">
    <li class="nav-item" *ngIf="!usuariosService.isLogged()">
        <a class="nav-link" [routerLink]="['/registro']">Registro</a>
    </li>
    <li class="nav-item" *ngIf="!usuariosService.isLogged()">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
    </li>
    <li class="nav-item" *ngIf="usuariosService.isLogged() && usuariosService.rol('admin')">
        <a class="nav-link" [routerLink]="['/admin', getId() ,'alumnos']">Alumnos</a>
    </li>
    <li class="nav-item" *ngIf="usuariosService.isLogged() && usuariosService.rol('admin')">
        <a class="nav-link" [routerLink]="['/admin', getId() ,'profesores']">Profesores</a>
    </li>
    <li class="nav-item" *ngIf="usuariosService.isLogged() && usuariosService.rol('profe')">
        <a class="nav-link" [routerLink]="['/profe', getId()]">Mi perfil</a>
    </li>
    <li class="nav-item" *ngIf="usuariosService.isLogged() && usuariosService.rol('profe')">
        <a class="nav-link" [routerLink]="['/alumno', 25]">Mis alumnos</a>
    </li>
    <li class="nav-item" *ngIf="usuariosService.isLogged() && usuariosService.rol('alum')">
        <a class="nav-link" [routerLink]="['/alum', getId()]">Profesores</a>
    </li>
    <li class="nav-item" *ngIf="usuariosService.isLogged() && usuariosService.rol('alum')">
        <a class="nav-link" [routerLink]="['/alumno', 25]">Clases</a>
    </li>
    <li class="nav-item" *ngIf="usuariosService.isLogged() && usuariosService.rol('alum')">
        <a class="nav-link" [routerLink]="['/alumno', 25]">Valoraciones</a>
    </li>
    <li class="nav-item" *ngIf="usuariosService.isLogged()">
        <a class="nav-link pe-auto" role="button" title="Logout" (click)="onClickLogout()">
            <button class="Btn">

                <div class="sign"><svg viewBox="0 0 512 512">
                        <path
                            d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                        </path>
                    </svg></div>

                <div class="text">Logout</div>
            </button>
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                <path fill-rule="evenodd"
                    d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
            </svg> -->
        </a>
    </li>
</ul>