.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: 1.2rem;
    font-weight: var(--bs-nav-link-font-weight);
    color: #fff;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-link:hover {
    color: #000000;
}

.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: white;
}

/* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;

    padding-right: 10px;
}

/* hover effect on button width */
.Btn:hover {
    width: 170px;
    border-radius: 40px;
    transition-duration: .3s;
}

.Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}

/* hover effect button's text */
.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

/* button click effect*/
.Btn:active {
    transform: translate(2px, 2px);
}

.logo {
    width: 80px;
    height: 80px;
    font-family: 'Pinyon Script', cursive;
    font-size: 3rem;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  @media (max-width: 768px) {
    h1 {
      display: none;
    }

    nav {
        justify-content: right;
    }
  }

  .navbar-toggler {
    background-color: white;
    margin: 15px;
  }

  .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
  }

  .text {
    margin-left: 10px;
  }