<div class="container">
    <h2>Mis Alumnos</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Asignatura</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Nombre Ejemplo</td>
          <td>Apellido Ejemplo</td>
          <td>Email Ejemplo</td>
          <td>Teléfono Ejemplo</td>
          <td>Asignatura Ejemplo</td>
          <td><button title="Eliminar Alumno" class="btnBorrar btn-unstyled fs-5">X</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  