<div class="container">
  <h2>Mis Alumnos</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Ciudad</th>
        <th>Asignatura</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="alumArr.length != 0">
      <tr class="TrDatos" *ngFor="let alumno of alumArr">
        <td>{{alumno.nombre}}</td>
        <td>{{alumno.apellidos}}</td>
        <td>{{alumno.edad}}</td>
        <td>{{alumno.email}}</td>
        <td>{{alumno.telefono}}</td>
        <td>{{alumno.ciudad}}</td>
        <td *ngFor="let asignatura of alumno.asignaturas">{{asignatura.nombre}} <button title="Eliminar Alumno"
            class="btnBorrar btn-unstyled fs-5 ms-5" (click)="finalizarClaseAlumno(asignatura.id, alumno.id)">X</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>