h2 {
    font-weight: bold;
    color: #7500c0;
    text-shadow: #ba94ec;
}

.table {
    border-collapse: collapse;
    width: 100%;
  }
  
.table th,
.table td {
    padding: 8px;
  }
  
  .table-caption {
    caption-side: top;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
  }

  .table thead tr {
    background-color: #7500c0;
    color: white;
  }

.TrDatos:hover {
  background-color: rgb(223, 223, 223);
}
  
.btnBorrar {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  

/* Boton Borrar Asignatura */

.btnBorrar {
    background-color: transparent;
    color: gray;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 1.25rem;
    margin-right: 0.5rem;
    font-weight: bold;
  }

  .btnBorrar:hover { 
    color: #7500c0;
  }