.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 100%;
}

.btns {
    display: flex;
    gap: 5px;
}

button {
    background-color: white;
    padding: 8px 20px;
    color: black;
    border-radius: 5px;
}

.btnSub {
    border: 1px solid rgb(46, 191, 46);
}

.btnCan {
    border: 1px solid rgba(221, 24, 24, 0.842);
}

.btnSub:hover{
    background-color: rgb(46, 191, 46);
    border: 1px solid #ccc;
    color: white;
    transition: 0.5s;
}

.btnCan:hover {
    background-color: rgba(221, 24, 24, 0.842);
    border: 1px solid #ccc;
    color: white;
    transition: 0.5s;
}

.ttl {
    display: flex;
    gap: 15px;
    margin: 1rem auto;
}

img {
    size: 10px;
}

h2{
    padding: 0;
    margin: 5px auto;
    color: rgb(80, 77, 77);
}
  
  .matForm {
    width: 100%;
  }