<div class="container">
  <form class="container">
    <div class="ttl">
      <!-- <img src="../../assets/star.svg" alt=""> -->
      <h2>Enviar valoración</h2>
      <!-- <img src="../../assets/star.svg" alt=""> -->
    </div>
    <div style="text-align: center;">
      <h3>★★★★★</h3>
    </div>
    <mat-form-field class="matForm">
      <!-- <mat-label>Comentario</mat-label> -->
      <textarea matInput placeholder="Describe tu experiencia.." [(ngModel)]="comment"></textarea>
    </mat-form-field>
    <div class="btns">
      <button class="btnSub" mat-button (click)="enviarFormulario(data)">Enviar</button>
      <button class="btnCan" mat-button (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
