.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.ttl {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ttl img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.ttl h2 {
    margin: 0;
}

h3 {
    color: #7500c0;
}
.matForm {
    margin-top: 20px;
}

.matForm textarea {
    width: 100%;
    resize: vertical;
}

.btns {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btns button {
    background-color: white;
    border: 1px solid  rgb(29, 178, 236);
    padding: 4px 10px;
    color: black;
    border-radius: 5px;
    margin-left: 10px;
}

.btns button:hover {
    background-color: rgb(29, 178, 236);
    border: 1px solid #ccc;
    color: white;
    transition: 0.5s;
}

@media (max-width: 600px) {
.container {
      padding: 10px;
}

.ttl img {
      width: 15px;
      height: 15px;
    }
}

img {
    size: 10px;
}

h2{
    padding: 0;
    margin: 5px auto;
    color: rgb(80, 77, 77);
}
  
.matForm {
    width: 100%;
}