<section class="h-100 mt-2">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Mi Perfil</h3>
          <hr>
          <div class="form-group">
            <label class="tituloDatos">Nombre:</label>
            <p>Nombre del profesor</p>
          </div>
          <div class="form-group">
            <label class="tituloDatos">Apellidos:</label>
            <p>Apellidos del profesor</p>
          </div>
          <div class="form-group">
            <label class="tituloDatos">Edad:</label>
            <p>00</p>
          </div>
          <div class="form-group">
            <label class="tituloDatos">Experiencia:</label>
            <p>Experiencia del profesor</p>
          </div>
          <div class="form-group">
            <label class="tituloDatos">Precio:</label>
            <p>99.99€</p>
          </div>
          <div class="form-group">
            <label class="tituloDatos">Ciudad:</label>
            <p>Ciudad del profesor</p>
          </div>
          <h3>Contacto</h3>
          <hr>
          <div class="form-group">
            <label class="tituloDatos">Teléfono:</label>
            <p>000-000-000</p>
          </div>
          <div class="form-group">
            <label class="tituloDatos">Email:</label>
            <p>correo@ejemplo.com</p>
          </div>
        </div>
        <div class="col-md-6 privado">
          <h3>Privado</h3>
          <hr>
          <div class="alert alert-info" style="background-color: #d9c8f1;">
            Solo tú puedes ver estos datos.
          </div>
          <div class="form-group">
            <label class="tituloDatos">Username:</label>
            <p>Username del profesor</p>
          </div>
          <div class="form-group">
            <label class="tituloDatos">Dirección:</label>
            <p>Dirección del profesor</p>
          </div>
          <div class="form-group">
            <label class="tituloDatos">DNI:</label>
            <p>00000000-X</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Asignaturas</h3>
          <hr>
          <ul class="list-group">
            <li class="list-group-item">Asignatura 1</li>
            <li class="list-group-item">Asignatura 2</li>
            <li class="list-group-item">Asignatura 3</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  