.alert-info {
    border-color: #ba94ec;
    color: black;
}

.tituloDatos {
    color: #7500c0;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    color: #7500c0;
    text-shadow: #ba94ec;
}
/* 
.privado{ 
    /* padding-left: 10px;
    padding-right: 10px;
    border-color: rgb(214, 213, 213);
    border-style:solid;
    border-radius: 1%;
    border-width: 1px;
} */ 