.alert-info {
    border-color: #ba94ec;
    color: black;
}

.tituloDatos {
    color: #7500c0;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    color: #7500c0;
    text-shadow: #ba94ec;
}

.privado{ 
    padding-left: 10px;
    padding-right: 10px;
}

/* Boton Añadir Asignatura */

.btnAnadir {
    background-color: #ba94ec;
    border: none;
    font-weight: 650;
  }

.btnAnadir:hover {
    background-color: #7500c0;
  }

/* Boton Borrar Asignatura */

.btnBorrar {
    background-color: transparent;
    color: gray;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 1.25rem;
    margin-right: 0.5rem;
    font-weight: bold;
  }

  .btnBorrar:hover { 
    color: #7500c0;
  }
  
  .asignatura {
    margin-left: 0.5rem;
  }
  
  
  